[submodule "__externals/glm"]
	path = __externals/glm
	url = https://github.com/g-truc/glm
[submodule "__externals/fmt"]
	path = __externals/fmt
	url = https://github.com/fmtlib/fmt
[submodule "__externals/stb"]
	path = __externals/stb
	url = https://github.com/nothings/stb
[submodule "__externals/SDL2"]
	path = __externals/SDL2
	url = https://github.com/libsdl-org/SDL
[submodule "__externals/imgui/src"]
	path = __externals/imgui/src
	url = https://github.com/ocornut/imgui
[submodule "__externals/spdlog"]
	path = __externals/spdlog
	url = https://github.com/gabime/spdlog
[submodule "__externals/glfw"]
	path = __externals/glfw
	url = https://github.com/glfw/glfw
[submodule "__externals/entt"]
	path = __externals/entt
	url = https://github.com/skypjack/entt
