[submodule "__externals/glm"]
	path = __externals/glm
	url = https://github.com/g-truc/glm
[submodule "__externals/fmt"]
	path = __externals/fmt
	url = https://github.com/fmtlib/fmt
[submodule "__externals/stb"]
	path = __externals/stb
	url = https://github.com/nothings/stb
[submodule "__externals/imgui/src"]
	path = __externals/imgui/src
	url = https://github.com/ocornut/imgui
[submodule "__externals/spdlog"]
	path = __externals/spdlog
	url = https://github.com/gabime/spdlog
[submodule "__externals/glfw"]
	path = __externals/glfw
	url = https://github.com/glfw/glfw
[submodule "__externals/entt"]
	path = __externals/entt
	url = https://github.com/skypjack/entt
[submodule "__externals/assimp"]
	path = __externals/assimp
	url = https://github.com/assimp/assimp
[submodule "__externals/stduuid"]
	path = __externals/stduuid
	url = https://github.com/mariusbancila/stduuid
[submodule "__externals/yaml-cpp"]
	path = __externals/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "__externals/ImGuizmo"]
	path = __externals/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "__externals/SPIRV-Cross"]
	path = __externals/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "__externals/gtest"]
	path = __externals/gtest
	url = https://github.com/google/googletest
[submodule "__externals/VulkanMemoryAllocator"]
	path = __externals/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "__externals/nlohmann_json"]
	path = __externals/nlohmann_json
	url = https://github.com/nlohmann/json
[submodule "__externals/glslang"]
	path = __externals/glslang
	url = https://github.com/khronosGroup/glslang.git
[submodule "__externals/SPIRV-headers"]
	path = __externals/SPIRV-headers
	url = https://github.com/khronosGroup/SPIRV-headers.git
[submodule "__externals/SPIRV-Tools"]
	path = __externals/SPIRV-Tools
	url = https://github.com/khronosGroup/SPIRV-Tools
